AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_HERE
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY_HERE
AWS_REGION=YOUR_AWS_REGION_HERE
AWS_S3_BUCKET_NAME=YOUR_BUCKET_NAME_HERE
PORT=3000
JWT_SECRET=YOUR_JWT_SECRET_HERE
MONGO_URI=YOUR_MONGO_URI_HERE