MONGO_URI=YOU_MONGO_URI_HERE
AWS_BUCKET_NAME=YOUR_BUCKET_NAME_HERE
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_HERE
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY_HERE
AWS_REGION=YOUR_AWS_REGION_HERE
PORT=3000
SLACK_WEBHOOK_URL=YOUR_SLACK_WEBHOOK_URL_HERE